{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=7,8,edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <style type="text/css" media="all"></style>
    </head>
    <body>
        <div class="background-section">
            <h1>
                <img
                    src="{% static 'images/latra.png' %}"
                    alt="Example Image"
                    class="transparent-img"
                />
                <br />
                Je Unataka Kusafiri? <br />Pata Ufahamu wa Safari za Mikoani
                hapa!
            </h1>
        </div>
        <div class="content-section">{% block content %} {% endblock %}</div>
{% include 'nauli/footer.html' %}
    </body>
</html>
