<footer>
    <div class="footer-container">
        <div class="top-footer">
            <strong>REGIONAL FARES</strong>
            <p>
                Regional Fares ni mfumo unaomuwezesha mtumiaji kutafuta tarifa
                za safari za mkoa anaotaka kusafiri
            </p>
        </div>
        <div class="bottom-footer">
              
              <div class="subscribe-link"><a href="{% url "Nauli:subscribe" %}">Subscribe to our Newsletter</a></div>

            <div class="social-icons">
                <a href="https://www.facebook.com/kimbry.donee"
                    ><i class="fab fa-facebook-f"></i
                ></a>
                <a href="https://twitter.com/kimbrydonn"
                    ><i class="fab fa-twitter"></i
                ></a>
                <a href="https://www.instagram.com/kimbry_donee"
                    ><i class="fab fa-instagram"></i
                ></a>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; {% now "Y" %} REGIONAL FARES. All rights reserved.</p>
    </div>
</footer>
